body {
	width: 320px;
}

.visualy-hidden {
	display: none;;
}

.btn {
	display: inline-block;
	padding-top: 16px;
	padding-bottom: 16px;
	font-weight: bold;
	line-height: 16px;
	text-decoration: none;
	text-transform: uppercase;
	color: @darkgrey;
	border: 2px solid @darkgrey;
}
