* {
	box-sizing: border-box;
}

body {
	// width: 320px;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: @black;
	background: @white;
}

.visualy-hidden {
	display: none;;
}

.btn {
	display: flex;
	justify-content: center;
	padding-top: 16px;
	padding-bottom: 16px;
	font-weight: bold;
	line-height: 16px;
	text-decoration: none;
	text-transform: uppercase;
	color: @darkgrey;
	border: 2px solid @darkgrey;
}

.container() {
	width: 320px;
	margin: 0 auto;

	@media @tablet-width {
		width: 768px;
	}

	@media @desktop-width {
		width: 1150px;
	}
}

.clearfix() {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}
