@font-face {
	font-family: "OpenSans";
	src:
		url("../fonts/opensans.woff") format("woff"),
		url("../fonts/opensans.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans";
	src:
		url("../fonts/opensansbold.woff") format("woff"),
		url("../fonts/opensansbold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

@tablet-width: e"(max-width: 768px)";
@desktop-width: e"(max-width: 1150px)";

@aqua: #63d1bb;
@black: #000000;
@darkgrey: #444444;
@lightgrey: #ececec;
@lighttelegram: #cccccc;
@smokywhite: #f1f1f1;
@white: #ffffff;
@placeholdercolor: #d2d2d2;
