@mobile-width-only: ~"(max-width: 768px)";
@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1150px)";
@retina: ~"(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
@retina-tablet: ~"(min-width: 768px) and (min-resolution: 1.5dppx), (min-width: 768px) and (min-resolution: 144dpi)";

@aqua: #63d1bb;
@black: #000000;
@darkgrey: #444444;
@lightgrey: #ececec;
@lighttelegram: #cccccc;
@smokywhite: #f1f1f1;
@white: #ffffff;
@placeholdercolor: #d2d2d2;
