.description {
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: @black;
	background: @white;
}

.description__header {
	padding-top: 104.5px;
	padding-bottom: 104.5px;
	background: #d6d7d1 url("../img/hero-mobile@1x.jpg") no-repeat 50% 50%;
}

.description__title {
	margin: 0;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}

.description__types-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.description__type {
	a {
		display: block;
		padding-top: 27.5px;
		padding-bottom: 27.5px;
	}
	&--home-goods {
		background: @aqua;
	}
	&--toys {
		background: #56c3b2;
	}
	a {
		font-size: 18px;
		font-weight: bold;
		text-decoration: none;
		color: @white;
	}
}
