.page-footer {
	padding-top: 24px;
	padding-bottom: 27.5px;
	background: @smokywhite;
}

.page-footer__social-links {
	padding-bottom: 28px;
	border-bottom: 1px solid @lightgrey;
}

.page-footer__social-link {
	display: block;
	font-size: 0;
	line-height: 0;
	&--insta {
		width: 22px;
		height: 21px;
		background: url("../img/icon-insta.svg") no-repeat 50% 50%;
		background-size: 22px 21px;
	}
	&--fb {
		width: 15px;
		height: 28px;
		background: url("../img/icon-fb.svg") no-repeat 50% 50%;
		background-size: 15px 28px;
	}
	&--tw {
		width: 23px;
		height: 20px;
		background: url("../img/icon-twitter.svg") no-repeat 50% 50%;
		background-size: 23px 20px;
	}
}

.page-footer__developer {
	padding-top: 27.5px;
	span {
		font-size: 18px;
		font-weight: bold;
	}
}

.page-footer__copyright-link {
	display: block;
	width: 27px;
	height: 34px;
	font-size: 0;
	background: @aqua no-repeat 50% 50%;
	mask: url("../img/htmlacademy.svg") no-repeat 50% 50%;
	background-size: 27px 34px;
}
