.page-footer {
	background: @smokywhite;
}

.page-footer__wrapper {
	.container-adaptive();

	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 23px;
}

.page-footer__logo-container {
	display: none;
}

.page-footer__social-links {
	display: flex;
	width: 260px;
	padding-top: 24px;
	padding-bottom: 28px;
	border-bottom: 1px solid #e5e5e5;
}

.page-footer__social-link {
	font-size: 0;
	line-height: 0;
	box-sizing: content-box;

	&--insta {
		width: 22px;
		height: 21px;
		margin-top: 6px;
		margin-left: 57px;
	}

	&--fb {
		width: 15px;
		height: 28px;
		margin-left: 41px;
	}

	&--tw {
		width: 23px;
		height: 20px;
		margin-top: 6px;
		margin-left: 40px;
	}
}

.page-footer__social-link:hover .page-footer__social-icon {
	fill: @krayola;
}

.page-footer__social-link:active .page-footer__social-icon {
	fill: @krayola;
	opacity: 0.3;
}

.page-footer__social-icon {
	fill: @black-brown;
	transition: opacity 0.3s ease,
							fill 0.3s ease;
}

.page-footer__developer {
	display: flex;
	width: 320px;
	padding-top: 22px;
	padding-left: 67px;
}

.page-footer__copyright-link {
	display: flex;
	font-family: "Verdana", Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: @black;
	transition: all 0.3s ease;

	span {
		padding-top: 2px;
		padding-right: 25px;
	}
}

.page-footer__copyright-link:hover .page-footer__logo-academy {
	fill: @krayola;
}

.page-footer__copyright-link:active .page-footer__logo-academy {
	opacity: 0.3;
}

.page-footer__logo-academy {
	fill: @aqua;
	transition: fill 0.3s ease,
							opacity 0.3s ease;
}

@media @tablet-width {
	.page-footer__wrapper {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		padding-top: 51px;
		padding-right: 50px;
		padding-bottom: 51px;
		padding-left: 50px;
	}

	.page-footer__logo-container {
		display: flex;
	}

	.page-footer__logo-link {
		font-size: 0;
		line-height: 0;
	}

	.page-footer__logo {
		transition: fill 0.3s ease;
	}

	.page-footer__logo-link:hover .page-footer__logo {
		fill: #46c1ae;
	}

	.page-footer__logo-link:active .page-footer__logo {
		fill: #bde3dd;
	}

	.page-footer__social-links {
		width: auto;
		padding-top: 6px;
		padding-left: 20px;
		padding-bottom: 0;
		border-bottom: none;
	}

	.page-footer__developer {
		padding-left: 0;
		width: auto;
		padding-top: 7px;
	}
}

@media @desktop-width {
	.page-footer__wrapper {
		padding-left: 51px;
		padding-right: 51px;
	}
}
