.page-header__open-toggle {
	display: block;
	width: 20px;
	height: 14px;
	font-size: 0;
	background: url("../img/icon-menu-open.svg") no-repeat 50% 50%;
	background-size: 20px 14px;
}

.page-header__close-toggle {
	display: block;
	width: 21px;
	height: 20px;
	font-size: 0;
	background: url("../img/icon-menu-close.svg") no-repeat 50% 50%;
	background-size: 21px 20px;}
