.product-best__wrapper {

	.container-adaptive();

	display: flex;
	flex-direction: column;
	padding-left: 9.3%;
	padding-right: 9.3%;
	padding-bottom: 40px;
	box-sizing: border-box;
}

.product-best__header {
	padding-top: 27px;
	padding-bottom: 22px;
}

.product-best__title {
	.title();

	padding-bottom: 2px;
}

.product-best__week-best {
	text-transform: uppercase;
	font-weight: bold;
	line-height: 16px;
	color: @aqua;
}

.product-best__description {
	// width: 79.7%;
	margin: 0;
	padding-bottom: 18px;
	font-size: 14px;
	color: @darkgrey;
}

.product-best__specifications-list {
	width: 100%;
	font-size: 14px;
	line-height: 20px;
	color: @darkgrey;
	border-collapse: collapse;
}

.product-best__options,
.product-best__value {
	padding-top: 9.5px;
	padding-bottom: 10px;
	border-bottom: 1px solid @lightgrey;
}

.product-best__options {
	padding-right: 11px;
}

.product-best__photo {
	align-self: center;
	padding-top: 27px;
	padding-bottom: 24px;
	width: 260px;
	height: 315px;
	line-height: 0;
	text-align: center;
	box-sizing: content-box;
}

.product-best__price {
	align-self: center;
	padding-bottom: 26px;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	color: @darkgrey;
}

.product-best__order-btn {
	.btn();

	align-self: stretch;
	font-family: "OpenSans", Arial, sans-serif;
	text-align: center;
}

@media @tablet-width {
	.product-best__wrapper {
		position: relative;
		padding-left: 5.9%;
		padding-right: 6.6%;
		padding-bottom: 69px;
	}

	.product-best__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding-top: 45px;
		padding-bottom: 48px;
	}

	.product-best__week-best {
		width: 98px;
		padding-top: 2px;
		padding-right: 25px;
		text-align: center;
	}

	.product-best__description {
		width: 43.3%;
		padding-left: 4px;
		padding-bottom: 37px;
		font-size: 16px;
		line-height: 30px;
	}

	.product-best__specifications-list {
		width: 43.4%;
		margin-left: 4px;
		font-size: 15px;
	}

	.product-best__options {
		padding-right: 0;
	}

	.product-best__photo {
		position: absolute;
		bottom: 69px;
		right: 51px;
		z-index: -1;
		padding: 0;
		margin: 0;
		width: 333px;
		height: 404px;
		background: @aqua;
	}

	.product-best__price {
		align-self: flex-start;
		width: 43.4%;
		padding-top: 56px;
		padding-bottom: 34px;
		padding-left: 16px;
		font-size: 18px;
	}

	.product-best__order-btn {
		width: 43.4%;
		padding-left: 6px;
		margin-left: 4px;
	}
}

@media @desktop-width {
	.product-best__wrapper {
		padding-right: 76px;
		padding-bottom: 57px;
		padding-left: 222px;
	}

	.product-best__header {
		position: relative;
		padding-top: 124px;
	}

	.product-best__week-best {
		position: absolute;
		top: 139px;
		left: -126px;
	}

	.product-best__description {
		width: 35%;
		padding-bottom: 50px;
	}

	.product-best__specifications-list {
		width: 33.1%;
	}

	.product-best__photo {
		right: 50px;
		bottom: 57px;
		width: 525px;
		height: 636px;
		background: @aqua;
	}

	.product-best__price {
		width: 33%;
		padding-top: 108px;
		padding-left: 76px;
		text-align: left;
	}

	.product-best__order-btn {
		width: 292px;
	}
}
