.product-best {
	padding-top: 30px;
	padding-bottom: 35px;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: @black;
	background: @white;
}

.product-best__header {
	padding-bottom: 30px;
}

.product-best__title {
	margin: 0;
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}

.product-best__week-best {
	text-transform: uppercase;
	font-weight: bold;
	color: @aqua;
}

.product-best__description {
	margin: 0;
	margin-bottom: 10px;
	color: @darkgrey;
}

.product-best__specifications-list {
	margin-bottom: 28px;
	font-size: 14px;
	line-height: 20px;
	color: @darkgrey;
	border-collapse: collapse;
}

.product-best__options,
.product-best__value {
	padding-top: 9.5px;
	padding-bottom: 9.5px;
	border-bottom: 1px solid @lightgrey;
}

.product-best__options {
	padding-right: 36px;
}

.product-best__value {
	padding-right: 42px;
}

.product-best__price {
	font-weight: bold;
	color: @darkgrey;
}

.product-best__order {
}
