.product {
	margin-bottom: 30px;
}

.product__container-wrapper {
	margin-top: 30px;
	margin-bottom: 30px;
}

.product__photo-link {
	display: block;
	line-height: 0;
}

.product__wrapper {
	padding-top: 29px;
	padding-bottom: 30px;
	border: 1px solid @lightgrey;
}

.product__description {
	padding-bottom: 25px;
	border-bottom: 1px solid @lightgrey;
}

.product__title {
	margin: 0;
	font-size: 16px;
	font-weight: bold;
	a {
		text-decoration: none;
		color: @black;
	}
}

.product__options {
	font-size: 14px;
	line-height: 30px;
	color: @darkgrey;
}

.product__user-block {
	padding-top: 25px;
}

.product__price {
	font-size: 14px;
	font-weight: bold;
}

.product__order {
	display: block;
	width: 20px;
	height: 19px;
	font-size: 0;
	background: @lighttelegram;
	background-size: 20px 19px;
	mask: url("../img/icon-cart.svg") no-repeat 50% 50%;
}
