.production {
	.container-adaptive();

	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 31px;
	padding-bottom: 58px;
}

.production__title {
	width: 81.25%;
	position: relative;
	border: 1px solid @lightgrey;

	h1 {
		padding-top: 23px;
		padding-bottom: 24px;
		padding-left: 34.5%;
		width: 168px;
		margin: 0;
		font-family: Verdana, Arial, sans-serif;
		font-size: 16px;
		font-weight: bold;
		box-sizing: content-box;
	}

	&::before {
		content: url('data:image/svg+xml, <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve"> <g transform="translate(0 192)"> <path fill="#63d1bb" d="M26-177l6-4v16l-6-4V-177z M24-177v8c0,2.209-1.791,4-4,4H4c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4h10 c0-1.105,0.895-2,2-2v-2H5c-0.553,0-1-0.447-1-1s0.447-1,1-1h12c0.553,0,1,0.447,1,1v3c1.105,0,2,0.895,2,2 C22.209-181,24-179.209,24-177z M12-177H4v8h8V-177z M20-176c0-0.553-0.447-1-1-1h-4c-0.553,0-1,0.447-1,1s0.447,1,1,1h4 C19.553-175,20-175.447,20-176z"/> </g> </svg>');
		position: absolute;
		top: 29px;
		left: 12.9%;
		width: 32px;
		height: 32px;
	}
}

.production__video {
	position: relative;
	margin-top: -1px;
	line-height: 0;

	img {
		width: 260px;
		height: 150px;
	}
}

.production__play-btn {
	position: absolute;
	top: 40px;
	left: 80px;
	width: 101px;
	height: 77px;
	font-size: 0;
	line-height: 0;
	background: url("../img/icon-play.svg") no-repeat 50% 50%;
	background-size: 101px 77px;
	cursor: pointer;
	transition: transform 0.2s ease,
							opacity 0.2s ease;

	&:hover {
		transform: scale(1.2);
	}

	&:active {
		opacity: 0.3;
		transform: scale(0.8);
	}
}

.production__description {
	width: 81.25%;
	padding-left: 10.3%;
	padding-bottom: 32px;
	border: 1px solid @lightgrey;
	border-top: none;

	p {
		width: 81%;
		margin: 0;
		padding-top: 28px;
		padding-bottom: 24px;
		font-size: 14px;
		color: @darkgrey;
	}

	&:hover {
		box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
	}

	&:active {
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	}
}

.production__order-btn {
	.btn();

	width: 85.3%;
}

@media @tablet-width {
	.production {
		padding-top: 54px;
		padding-bottom: 63px;
	}

	.production__title {
		width: 86.98%;
		font-size: 18px;
		border-bottom: none;

		h1 {
			width: auto;
			padding-top: 38px;
			padding-left: 15.71%;
			font-size: 18px;
		}

		&::before {
			top: 33px;
			left: 6.1%;
		}
	}

	.production__video {
		order: -1;

		img {
			width: 668px;
			height: 455px;
		}
	}

	.production__play-btn {
		top: 196px;
		left: 284px;
	}

	.production__description {
		width: 86.98%;
		padding-bottom: 45px;
		padding-left: 5%;

		p {
			width: 95%;
			padding-top: 9px;
			padding-bottom: 34px;
			font-size: 16px;
			line-height: 30px;
		}
	}

	.production__order-btn {
		width: 93.053%;
		margin-left: 3px;
	}
}

@media @desktop-width {
	.production {
		justify-content: flex-start;
		flex-wrap: wrap;
		align-items: flex-start;
		max-width: 1150px;
		max-height: 500px;
		padding-top: 57px;
		padding-right: 4.35%;
		padding-bottom: 105px;
		padding-left: 4.35%;
		box-sizing: content-box;
	}

	.production__title {
		width: 367px;
		border-left: none;

		h1 {
			width: 185px;
			padding-top: 95px;
			padding-left: 78px;
		}

		&::before {
			top: 41px;
			left: 80px;
		}
	}

	.production__video {
		width: 581px;
		padding-top: 1px;

		img {
			width: 682px;
			height: 455px;
		}
	}

	.production__play-btn {
		top: 190px;
		left: 299px;
	}

	.production__description {
		width: 367px;
		padding-bottom: 59px;
		padding-left: 78px;
		border-left: none;

		p {
			padding-top: 10px;
			padding-bottom: 45px
		}
	}

	.production__order-btn {
		width: 230px;
		margin-left: 2px;
	}
}
